<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <%= form.text_area :body, placeholder: "Share your thoughts" %>

    <%= form.text_field :commenter, placeholder: "What is your name?" %>
  
  <div>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    <%= form.submit "Post" %>
  </div>
<% end %>